html {
  font-size: 10px;
  box-sizing: border-box;
}

p {
  font-size: 1.5rem;
}
/* menu
=============*/
.menuWrap {
  background-color: indigo;
  margin-bottom: 5px;
  font-size: 2rem;
  min-height: 2.75rem;
  display: flex;
  align-items: center; /*по вертикали центр*/
  padding: 0 1rem;
}
.listItem,
.lastItem {
  color: #ebebeb;
  text-decoration: none;
}
.listItem {
  margin-right: 1rem;
}
.lastItem {
  margin-left: auto;
}

/* end menu
=============*/

.inlineFlex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  background-color: indigo;
  text-decoration: none;
  border-radius: 50%;
  color: #ddd;
  font-size: 1.5rem;
}

.inlineFlexTwo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  background-color: burlywood;
  text-decoration: none;
  border-radius: 50%;
  color: #ddd;
  font-size: 1.5rem;
}


.wrapper {
  font-size: 0;
}
.centerMy {
  background-color: indigo;
  color: #ebebeb;
  font-size: 3rem;
  text-transform: uppercase;
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center; /*по вертикали центр*/
  justify-content: center; /*по горизонтали центр*/
}
.centerMyWrapper {
  width: 25%;
  display: inline-block;
}